.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board {
  background-color: #d8d8d8;
  border: 5px solid #555;
  border-radius: 5px;
  padding: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background-color: #fff;
  border: 2px solid #555;
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.square.X {
  color: #f44336;
}

.square.O {
  color: #2196f3;
}

.game-info {
  margin-left: 20px;
}

.game-info div {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.game-info button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
}
