.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #999;
  margin: 20px;
  padding: 20px;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
  height: 64px;
}

.square:focus {
  outline: none;
}

.game-info {
  margin: 20px;
}
